<ion-view title="Home" id="page5" style="" hide-nav-bar="true">
    <!--
    <ion-header-bar align-title="center" class="bar-positive">
        <h1 class="title">Dynamic Slides</h1>
    </ion-header-bar>
-->

    <ion-content has-header="true" scroll="false">
        <ion-slides options="options" slider="data.slider">
            <ion-slide-page disable-scroll="false" style="height: 100%">
                <ion-scroll zooming="false" direction="y" style="width: 100%; height: 100%">
                    <ion-card class="body">
                        <img src="img/castle1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" />
                        <div class="card-title centered-text padding">What does home mean to you?</div>
                        <div class="card-subtitle"></div>
                        <br />
                    </ion-card>

                    <ion-card>
                        <img src="img/home10.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" />
                        <div class="card-title"></div>
                        <div class="card-subtitle"></div>
                        <br />
                    </ion-card>

                    <ion-card>
                        <img src="img/home27.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" />
                        <div class="card-title"></div>
                        <div class="card-subtitle"></div>
                        <br />
                    </ion-card>

                    <ion-card>
                        <img src="img/home2.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" />
                        <div class="card-title"></div>
                        <div class="card-subtitle"></div>
                        <br />
                    </ion-card>

                    <ion-card>
                        <img src="img/home21.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" />
                        <div class="card-title"></div>
                        <div class="card-subtitle"></div>
                        <br />
                    </ion-card>

                    <ion-card>
                        <img src="img/home7.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" />
                        <div class="card-title"></div>
                        <div class="card-subtitle"></div>
                        <br />
                    </ion-card>

                    <ion-card>
                        <img src="img/home18.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" />
                        <div class="card-title"></div>
                        <div class="card-subtitle"></div>
                        <br />
                    </ion-card>

                    <ion-card>
                        <img src="img/home24.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" />
                        <div class="card-title"></div>
                        <div class="card-subtitle"></div>
                        <br />
                    </ion-card>

                    <ion-card>
                        <img src="img/home30.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" />
                        <div class="card-title"></div>
                        <div class="card-subtitle"></div>
                        <br />
                    </ion-card>

                    <ion-card>
                        <img src="img/home37.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" />
                        <div class="card-title"></div>
                        <div class="card-subtitle"></div>
                        <br />
                    </ion-card>

                    <ion-card>
                        <img src="img/home38.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" />
                        <div class="card-title"></div>
                        <div class="card-subtitle"></div>
                        <br />
                    </ion-card>

                    <ion-card>
                        <img src="img/home40.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" />
                        <div class="card-title"></div>
                        <div class="card-subtitle"></div>
                        <br />
                    </ion-card>

                    <ion-card>
                        <img src="img/home13.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" />
                        <div class="card-title"></div>
                        <div class="card-subtitle"></div>
                        <br />
                    </ion-card>
                    <ion-card>
                        <img src="img/home25.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" />
                        <div class="card-title"></div>
                        <div class="card-subtitle"></div>
                        <br />
                    </ion-card>
                    <ion-card>
                        <img src="img/home43.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" />
                        <div class="card-title"></div>
                        <div class="card-subtitle"></div>
                        <br />
                    </ion-card>
                    <ion-card>
                        <img src="img/home31.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" />
                        <div class="card-title centered-text padding">How do we get back home?</div>
                        <div class="card-subtitle padding"></div>
                    </ion-card>
                </ion-scroll>
            </ion-slide-page>

            <ion-slide-page disable-scroll="false" style="height: 100%">
                <ion-scroll zooming="false" direction="y" style="width: 100%; height: 100%">
                    <div class="card padding">
                        <div class="item item-text-wrap quotes">You can never go home again, but the truth is you can never leave home, so it’s all right.
                        </div>
                        <div class="item centered-text padding quotes-sm centered-text">Maya Angelou</div>
                    </div>

                </ion-scroll>
            </ion-slide-page>
            <ion-slide-page disable-scroll="false" style="height: 100%">
                <ion-scroll zooming="false" direction="y" style="width: 100%; height: 100%">

                    <div class="card padding">
                        <div class="item item-text-wrap quotes-sm">Rock bottom became the solid foundation on which I rebuilt my life.
                        </div>
                        <div class="item centered-text padding quotes-sm">J.K. Rowling</div>
                    </div>
                    <!--
                    <div class="card padding">
                        <div class="item item-text-wrap quotes-sm">Twenty years from now you will be more disappointed by the things that you didn't do than by the ones you did do. So...
                            <br />
                            <br />
                            <div>Throw off the bowlines. </div>
                            <div>Sail away from the safe harbor.</div>
                            <div>Catch the trade winds in your sails.</div>
                            <br />
                            <div>Explore</div>
                            <div>Dream</div>
                            <div>Discover</div>
                        </div>
                        <div class="item centered-text padding quotes-sm">Mark Twain</div>
                    </div>
-->
                </ion-scroll>
            </ion-slide-page>
        </ion-slides>


    </ion-content>
</ion-view>